h1{
    margin: 0 auto;
 
}
h2{
    margin: 0 auto; 
}

.GEMS {
    font-size: 100px;

}
.jumbotron{
    font-size: 60px;
    background: rgb(220, 255, 251) ;
    color:rgba(63, 34, 59, 0.598);
    font-weight: 200;
}
body {

position: relative;
text-align: center;

}

container{
    position: relative;
    text-align: center;
   color:rgba(63, 34, 59, 0.598);
    font-weight: 10;
}
 img{
  width: auto;
  height: auto;
}


#score{
    font-size: 50px;
    color:palevioletred;
    border-radius: 5px;
    border-bottom: solid 5px teal;

}
#wins{
    color:palevioletred;
}
#losses{
    color:palevioletred;
}
#ranNum {
    color:teal;
}
#ranBox {
    font-size:100px;
    color: teal;
}
